:javascript
    $('li').removeClass('active');
    $('#tab-clone').addClass('active');
%div{class: 'page-header'}
    %h1 Mock Server - Clone multiple requests
    %p{class: "lead"} Supply Name, URL and Environment to clone into the mock server. This option is useful if you have a sequence of client URLs to hand that you want to clone and then modify quickly.

%form{action: '/mock/clone/batch', method: 'post', id: 'form_clone_batch', class: 'form-inline'}
    %div{class: 'row col-md-12', id: 'row_1'}
        %div{class: 'form-group'}
            %label{class: 'control-label', for: 'mock_name_1'} Mock Request Name
            %input{type: 'text', class: 'form-control', name: 'mock_name_1', placeholder: 'Mock name'}
        %div{class: 'form-group'}
            %label{class: 'control-label', for: 'mock_url_1'} Mock URL
            %input{type: 'url', class: 'form-control', name: 'mock_url_1', placeholder: 'Mock URL'}
        %div{class: 'form-group'}
            %label{class: 'control-label',for: 'mock_environment_1'} Test Env
            %select{class: 'form-control',name: 'mock_environment_1'}
                %option{id: 'integration'} integration
                %option{id: 'production'} production
                %option{id: 'quality'} quality
        %button{class: "btn btn-primary", type: 'button', id: 'more_button_1', onclick: 'addMoreRow()'} +
        %div{class: 'form-group'}
            %label{class: 'control-label', for: 'status_row_1', id: 'status_row_1'} Pending
        %br
        %br
    %button(type="button" class="btn btn-primary btn-lg btn-block" onclick="cloneRowOnSubmit()" )Create/Update Mock Data