!!! 5
%html
    %head
        %title= @title + '-' + ENV['TEST_ENV']
        %meta{name: "viewport" ,content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
        %link{ :href => "/bootstrap/css/bootstrap.min.css", :type => "text/css", :rel => "stylesheet" }
        %link{ :href => "/css/common.css", :type => "text/css", :rel => "stylesheet" }
        %script{src: '/js/common.js'}
        %script{src: 'https://code.jquery.com/jquery-2.2.1.min.js'}
        %script{src: '/bootstrap/js/bootstrap.js'}
        %script{src: 'https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'}
        %script{src: '/js/jquery.caret.js'}
        %script{src: '/js/jquery.validatejson.js'}

    %body{onload: ' urlChanged()'}
        %div{class: 'container col-md-11 col-lg-11'}
            %ul{class: "nav nav-tabs"}
                %li{role: 'presentation', id: 'tab-home', class: 'active'}
                    %a{href: '/mock/create'} Home
                %li{role: 'presentation', id: 'tab-env'}
                    %a{href: '/environment'} Mock Env
                %li{role: 'presentation', id: 'tab-search'}
                    %a{href: '/mock/search'} Search
                %li{role: 'presentation', id: 'tab-clone'}
                    %a{href: '/mock/clone/batch'} Clone Many
                %li{role: 'presentation', id: 'tab-misses'}
                    %a{href: '/mock/search/misses'} Misses
                %li{role: 'presentation', id: 'tab-replace'}
                    %a{href: '/mock/replace/create_update'} Replace
                %li{role: 'presentation', id: 'tab-replace-search'}
                    %a{href: '/mock/replace/search'} Replace Search
                %li{role: 'presentation', id: 'tab-bird'}
                    %a{href: '/mock/bird'} Design
            - if session.has_key? :errors
                %div{class: "alert alert-danger alert-dismissible" , role: "alert"}
                    - flash_messages.each do |field, error_msg|
                        %li
                            %strong #{field.to_s.gsub('_',' ')}
                            #{error_msg}
            =yield