:javascript
    $('li').removeClass('active');
    $('#tab-bird').addClass('active');
%div{class: 'page-header'}
    %h2 Mock Server - Design
    %blockquote
        %p{class: "lead text-info"}
            Just mock and relax
%div{class: 'col-md-6 col-sm-6'}
    %img{src: '/img/mock_design.png', class: "img-rounded"}
    %br
    %span{class: "glyphicon glyphicon-copyright-mark"} Copyright mvemjsun
