:javascript
    $('li').removeClass('active');
    $('#tab-bird').addClass('active');
%div{class: 'page-header'}
    %h1 Mocking bird
    %p{class: "lead"}
        %a{href: 'https://en.wikipedia.org/wiki/Mockingbird'} Wiki
%div{class: 'col-md-6 col-sm-6'}
    %img{src: '/img/mocking_bird.jpg', class: "img-circle"}
    %span{class: "glyphicon glyphicon-copyright-mark"} Copyright Wikipedia
