%h1
  iOS Release train
%row
  %div{class: 'col-lg-3 col-md-6'}
    %div{class: 'panel panel-primary'}
      %div{class: 'panel-heading'}
        %div{class: 'row'}
          %div{class: 'text-center'}
            %div.h1 RT1
    %div{class: 'panel-default'}
      %div{class: 'panel-body'}
        %div{class: 'list-group'}
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-import'}
            Sprint
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-export'}
            Regression
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-ok'}
            Certification
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-send'}
            Release
            %span{class: 'pull-right'}
              XX/XX/YY
  %div{class: 'col-lg-3 col-md-6'}
    %div{class: 'panel panel-success'}
      %div{class: 'panel-heading'}
        %div{class: 'row'}
          %div{class: 'text-center'}
            %div.h1 RT2
    %div{class: 'panel-default'}
      %div{class: 'panel-body'}
        %div{class: 'list-group'}
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-import'}
            Sprint
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-export'}
            Regression
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-ok'}
            Certification
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-send'}
            Release
            %span{class: 'pull-right'}
              XX/XX/YY
  %div{class: 'col-lg-3 col-md-6'}
    %div{class: 'panel panel-info'}
      %div{class: 'panel-heading'}
        %div{class: 'row'}
          %div{class: 'text-center'}
            %div.h1 RT3
    %div{class: 'panel-default'}
      %div{class: 'panel-body'}
        %div{class: 'list-group'}
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-import'}
            Sprint
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-export'}
            Regression
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-ok'}
            Certification
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-send'}
            Release
            %span{class: 'pull-right'}
              XX/XX/YY
  %div{class: 'col-lg-3 col-md-6'}
    %div{class: 'panel panel-warning'}
      %div{class: 'panel-heading'}
        %div{class: 'row'}
          %div{class: 'text-center'}
            %div.h1 RT4
    %div{class: 'panel-default'}
      %div{class: 'panel-body'}
        %div{class: 'list-group'}
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-import'}
            Sprint
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-export'}
            Regression
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-ok'}
            Certification
            %span{class: 'pull-right'}
              XX/XX/YY - YY/YY/YY
          %a{href: '#', class: 'list-group-item'}
            %i{class: 'glyphicon glyphicon-send'}
            Release
            %span{class: 'pull-right'}
              XX/XX/YY