:javascript
    $('li').removeClass('active');
    $('#tab-search').addClass('active');
%div{class: 'page-header'}
    %h2 Mock Server - Search
    %blockquote
        %p{class: "lead text-info"} Search an existing mock using name OR URL

%form{action: '/mock/search/result', method: 'get'}

    %div{class: 'row'}
        %div{class: 'form-group col-md-3'}
            %label{class: 'control-label',for: 'search_mock_name'} Mock Name
            %input{class: 'form-control', name: 'search_mock_name', placeholder: 'Enter Part of Mock Name', autocomplete: 'off'}
        %div{class: 'form-group col-md-1'}
            OR
        %div{class: 'form-group col-md-3'}
            %label{class: 'control-label',for: 'search_mock_request_url'} URL
            %input{class: 'form-control', name: 'search_mock_request_url', placeholder: 'Enter Part of URL', autocomplete: 'off'}
    %div{class: 'row col-md-3'}
    %button(type="submit" class="btn btn-primary btn-lg btn-block")Search