%div{class: 'page-header'}
    %h1 Mock Server - Set Test environment
    %p{class: "lead"} Mock server can respond to mock request for a specific test environment

%form{action: '/environment', method: 'post'}

    %div{class: 'row'}
        %div{class: 'form-group col-md-3'}
            %label{class: 'control-label',for: 'mock_environment'} Test Environment
            %select{class: 'form-control', name: 'mock_environment'}
                %option integration
                %option production
                %option quality
    %div{class: 'row col-md-3'}
    %button(type="submit" class="btn btn-primary btn-lg btn-block")Set Environment