:javascript
    $('li').removeClass('active');
    $('#tab-upload-image').addClass('active');
%div{class: 'page-header'}
    %h2 Mock Server - Upload Image
    %blockquote
        %p{class: "lead text-info"} Images files can be uploaded and then served back from /upload/&ltimg_name&gt or via a mocked URL.

%form{action: '/mock/upload/image', method: 'post', enctype: 'multipart/form-data'}

    %div{class: 'row'}
        %div{class: 'form-group col-md-6'}
            %label{class: 'control-label',for: 'image_file_name'} Upload Image File (Max size #{ENV['MAX_UPLOAD_SIZE']} bytes)
            %input{class: 'form-control', name: 'image_file_name', placeholder: 'Image File', type: 'file'}
            %br
            #{upload_status.nil? ? nil : upload_status }
    %div{class: 'row col-md-6'}
    %button(type="submit" class="btn btn-primary btn-lg btn-block") Upload