input[type="text"]  {
    background-color: #ffffff;
    color: #D2691E;
}

textarea {
    color: #D2691E;
    resize: none;
}

#json_body {
    background-color: #ffffff;
    font-family: Courier;
    font-size: 90%;
    color: #D2691E;
}

#log_rows {
    background-color: #ffffff;
    font-family: Courier;
    font-size: 70%;
    color: #D2691E;
}

.pre_formatted {
    white-space: pre;
}

#script_body {
    background-color: #ffffff;
    font-family: Courier;
    font-size: 100%;
    color: #D2691E;
}
